/node_modules
/public/hot
/public/storage
/public/upload
/public/data
/public/.user.ini
/public/.well-known
/storage
/config/database.php
/storage/*.key
/vendor
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
**/.DS_Store
.DS_Store?
